.t-contact-form {
 background-image: url('./../../assets/Background-Contact-Form.jpg');
 background-position: center;
 background-repeat: no-repeat;
 height: 970px;
 margin: 0;
 position: relative;
 top: 0;
 width: 100%;
 z-index: 0;

 &::before {
  content: '';
  background: #ffffffcc;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
 }
}

.t-contact {

 &--right {
  margin: 0;
  padding: 0;
  max-width: $gutter*30;
 }

 &--left {
  flex-grow: 0;
  max-width: 58.333333%;
  flex-basis: 58.333333%;
 }
}

.t-form {

 &--button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 32px;
  width: 100%;
 }

 &__btn {
  background-color: transparent;
  width: 150px;
  border: 1px solid #3C3C3C;
  font-size: 1.2rem;
  min-height: 50px;
  font-weight: 300;
  border-radius: 0;
  text-transform: none;
  padding: 6px 8px;
  min-width: 64px;
  line-height: 1.75;

  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  user-select: none;
  justify-content: center;
  text-decoration: none;
 }

 &__control {
  margin-top: $grid-base*9;
  width: $gutter*30
 }

 &__input {
  margin-top: 6px;
  position: relative;
  padding: 6px 0 7px;
  // color: #3C3C3C;
  cursor: text;
  font-size: 18px;
  box-sizing: border-box;
  align-items: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1.1876em;

  textarea {
   border: none;
   border-bottom: 1px solid #707070;
   background-color: transparent;
   font-family: $font-base;
   font-size: 18px;
   resize: none;
   width: 95%;

   &::placeholder {
    font-size: 18px;
    // opacity: 0.3;
    padding: 0;
   }

  }
 }

 &__half-page {
  border: 0;
  display: flex;
  display: inline-flex;
  flex-basis: 50%;
  flex-direction: column;
  margin: 0;
  max-width: 50%;
  min-width: 0;
  padding-right: 8px;
  position: relative;
 }

 &--message {
  margin-top: 32px;
  padding: 0;
  border: 0;
  width: 100%;
 }

 &--message-page {
  margin-bottom: 8px;
  width: 100%;
 }

 &__input-field {
  position: relative;
  height: 32px;
  line-height: 1.1876em;
  display: block;
  // padding: 10px 50px 50px;
  max-width: 256px;
  background: #ffffffcc;

  &--input {
   font-size: 18px;
   border: none;
   border-bottom: 2px solid #757575;
   height: -40px;
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px 10px 10px 5px;
   
   outline: none;
   width: 100%;
   height: 100%;
   color: #3C3C3C;
   cursor: text;

   // &:focus {
   //  outline: none;
   // }
  }

  &--label {
   position: absolute;
   left: 0;
   top: 4px;
  
   color: $gray-dark;
   cursor: text;
   transition: top 200ms ease-in,
    left 200ms ease-in,
    font-size 200ms ease-in;

  }
 }

 &__input-field--input:focus {
  border-color: $light-blue;
 }

 &__input-field--input:focus~&__input-field--label,
 &__input-field--input:valid~&__input-field--label {
  font-size: 14px;
  top: -24px;
  left: 8px;
  color: $light-blue;

 }

 &__error {
  margin-top: 6px;
  position: relative;
  padding: 6px 0 7px;
  color: #3C3C3C;
  cursor: text;
  font-size: 18px;
  box-sizing: border-box;
  align-items: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1.1876em;
  color: #f44336;
  font-size: 0.7rem;
  font-weight: 600;
 }

}